<div id="<%= dom_id task %>" class="p-4 bg-white shadow rounded-lg">
  <p class="font-bold text-lg mb-2">
    <strong>Title:</strong>
    <%= task.title %>
  </p>

  <p class="text-gray-700">
    <strong>Description:</strong>
    <%= task.description %>
  </p>
</div>